[user]
  name = Luke Gru
  mail = luke.gru@gmail.com
[core]
  editor = gvim
  excludesfile = /home/luke/.gitignore

  [alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  cl = clone
  saveass = reflog show HEAD@{now} -10
[color]
  ui = true
