[user]
	name = Luke Gruber
	email = luke.gru@gmail.com
[core]
	editor = vim
	sharedRepository = 640
	excludesfile = /home/luke/dotfiles/.gitignore
[alias]
	co = checkout
	ci = commit
	mg = merge
	pom = push origin master
	st = status -sb
	br = branch
	bra = branch -a
	branches = branch -a
	d = diff
	ds = diff --stat
	dc = diff --cached
	dcs = diff --cached --stat
	dsc = diff --cached --stat
	remotes = remote -v show
	rems = remote -v show
	rem = remote
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	cl = clone
	up-subs = submodule foreach git fetch origin --tags && git pull origin master && git submodule update --init --recursive
	saveass = reflog show HEAD@{now} -10
	untracked = ls-files --others --exclude-from=.git/info/exclude

[color]
	ui = true
[branch]
	autosetupmerge = true
	autosetuprebase = never
[merge]
	summary = true
	stat = true
[mergetool]
	keepBackup = true
[notes]
	rewrite = true
[apply]
	whitespace = warn
[push]
	default = tracking
[github]
	user = luke-gru
[grep]
	extendedRegexp = true
	lineNumber = true
[instaweb]
	httpd = webrick
