[user]
	name = Luke Gru
	mail = luke.gru@gmail.com
[core]
	editor = gvim

	[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[color]
	ui = true
