body {
  background-color:#500; /*wine colored, for those w/out well-supported CSS3 browsers(goodbye gradient) */
  background: -moz-linear-gradient(top, #330300 #600600);
  font: 14px Verdana, Geneva, sans-serif;
  position:relative;
}


#container {
  width: 70%;
  min-height: 50em;
  margin: 0 auto;
  background-color: white;
  -moz-border-radius: 25px; /* mozilla (firefox, thunderbird) */
  border-radius: 25px;    /* IE8, webkit browsers, others */
  -moz-box-shadow: 5px 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 5px 5px rgba(0,0,0,0.5);
  box-shadow: 5px 5px rgba(0,0,0,0.5);
  min-width:900px;
}

#storeimage {
  float:left;
  margin-left:4%;
}

#storeimage img {
  border-style:outset;
  border-color:#500;
  border-width:thick;
}

#mainheading {
  text-align:center;
  padding-top:0.5em;
}

#mainheading a, #mainheading a:visited {
  color:black;

}

#leftcolumn {
  width:13em;
  height:20em;
  float:left;

}

#leftcolumn-nonhome {
  width:13em;
  height:600px;
  float:left;
  margin-top:0em;
}

#rightcolumn {
  width:13em;
  height:20em;
  float:left;
}

#footer {
  width:70%;
  background-color: white;
  -moz-border-radius: 25px; /* mozilla (firefox, thunderbird) */
  border-radius: 25px;    /* IE9, webkit browsers, others */
  min-height:12%;
  bottom:-5em;
  margin:0 auto;
  -moz-box-shadow: 5px 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 5px 5px rgba(0,0,0,0.5);
  box-shadow: 5px 5px rgba(0,0,0,0.5);
}

#leftcolumn a:link, #leftcolumn a:visited {
  border-style:inset;
  border-width:medium;
  padding: 2px;
  padding-bottom: 5px;
  text-decoration:none;
  color:black;
  margin-top:20%;
  margin-left:50%;
  display:block;
  width:50%;
}

#leftcolumn-nonhome a:link, #leftcolumn-nonhome a:visited {
  border-style:inset;
  border-width:medium;
  padding: 2px;
  padding-bottom: 5px;
  text-decoration:none;
  color:black;
  margin-top:20%;
  margin-left:2%;
  display:block;
  width:50%;
  -moz-box-shadow: 6px 6px 7px #AAA;
  -webkit-box-shadow: 6px 6px 7px #AAA;
  box-shadow: 6px 6px 7px #AAA;
}

#leftcolumn-nonhome a:hover {
  padding-left:0.5em;
  padding-right:0.5em;
  font-weight:bold;
  color:black;
  text-align:center;


}

#leftcolumn a:hover {
  padding-left:0.5em;
  padding-right:0.5em;
  font-weight: bold;
  margin-top:20%;
  margin-left:50%;
  color:black;
  text-align:center;
}

#rightcolumn a:link, #rightcolumn a:visited {
  width:50%;
  border-style:inset;
  border-width:medium;
  padding: 2px;
  padding-bottom: 5px;
  text-decoration:none;
  color:black;
  margin-top:2.2em;
  margin-left:2em;
  display:block;

}

#rightcolumn a:hover {
  padding-left:0.5em;
  padding-right:0.5em;
  font-weight:bold;
  text-align:center;
}

.clearright {
  clear:both;

}
#caption {
  text-align:center;
  margin-top: -3em;
  font-style:italic;
  margin-top:2em;
}

#entershop {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #500;
  font-size: 150%;
  font-weight: bold;

  padding: 20px;
  -moz-border-radius: 25px; /* mozilla (firefox, thunderbird) */
  border-radius: 25px;    /* IE9, webkit browsers, others */
  margin-top: 4em;
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888;
  text-decoration:none;
}

#arrow {
  display:block;
  margin-left:65%;
  margin-top:-6%;
}


#foot {
  text-align:center;  
}

#wrapenter a:hover {
  -moz-box-shadow: 12px 12px 7px #AAA;
  -webkit-box-shadow: 12px 12px 7px #AAA;
  box-shadow: 12px 12px 7px #AAA;
  font-style:italic;
}

#guitcable {
  margin-top:-75px;
}

h1#top {
  text-align:center;
  color:gray;
}

#non-home-area {
  float:left;
  width:70%;
  min-height:560px;

}

#leftcolumn-nonhome a.current {
  color:#500;
}

.captionp {
  margin-left:25px;
  font-style:italic;

}

th {
  text-align:left;

}

table {
  width:40%;

}

table#lessons {
  width:80%;
  margin-bottom:25px;
}

table#events {
  width:100%;
  margin-top:30px;
  margin-bottom:30px;

}

#non-home-area img {
  width:55%;
  float:left;
  margin-bottom:5%;
  max-height:250px;

}

.requestinfo {

}

#non-home-area img.accessory {
  width:auto;
  height:auto;
}

img.accessoryleft {
  margin-left:-26px;

}

td.grey {
  color:gray;

}

.radio {
  position:absolute;
  left:34%;
    }

.text_field {
  position:absolute;
  left:36%;

}

textarea {
  margin-top:10px;

}

#homehref {
color:black;

}
